---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---

<p><i>A blog about names, gender, people, computers, and systems.</i></p>

{% set maxPosts = collections.posts.length | min(6) %}
<h2>Latest {% if maxPosts == 1 %}Post{% else %}Posts{% endif %}</h2>

{% set postslist = collections.posts | head(-6) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
